# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://ioryxwxtzfavtpbpxjbq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlvcnl4d3h0emZhdnRwYnB4amJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk2OTA5NDEsImV4cCI6MjA2NTI2Njk0MX0.YJfETuBxB5aMKP2oP51qZm-gJVrc_CO0gpQzghef0dU
